/*table design*/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #FF7043; /* Food orange */
}

thead {
  background-color: #FF7043; /* Food orange */
  color: white;
  font-weight: bold;
  font-size: large;
  text-transform: capitalize;
}

table a {
  color: #FF7043; /* Food orange */
  text-decoration: underline;
}
